{
  "rules": {
    "semi": [2, "always"],
    "quotes": ["error", "double"],
    "indent": [2, 2, { "SwitchCase": 1}],
    "object-curly-spacing": [2, "always"],
    "eqeqeq": ["error", "always"],
    "prefer-const": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/prefer-node-protocol": "off",
    "comma-dangle": "off",
    "lines-between-class-members": ["error", "always"]
  },
  "env": {
    "es6": true,
    "shelljs": true
  },
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:@typescript-eslint/base",
    "plugin:@typescript-eslint/eslint-recommended"
  ]
}
